html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements */
*,
*::before,
*::after,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* inputs */
input,
button,
textarea,
select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em;
}

/* inputs appearance (not for every input)  */
input[type=text],
input[type=reset],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
input[type=time],
input[type=week],
input[type=month],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=number],
input[type=submit],
input[type=reset],
input[type=color],
input[type=file],
button,
textarea {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* input color width */
input[type=color] {
  width: 1em;
}

/* IE clear cross */
input::-ms-clear {
  display: none;
}

/* details and summary */
details,
summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* text size adjusting */
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* mark */
mark {
  background: none;
}

/* Font smoothing */
*,
*::before,
*::after,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* hr */
hr {
  height: 1px;
  margin: 0;
  padding: 0;
}

/* u */
u {
  text-decoration: none;
}

/* th */
table th {
  text-align: left;
}

/* a */
a {
  color: inherit;
  outline: none;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../../fonts/Gilroy-Light.ttf") format("TrueType");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../../fonts/Gilroy-Medium.ttf") format("TrueType");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../../fonts/Gilroy-Bold.ttf") format("TrueType");
}
.animation--rect__projects--right {
  animation: displayRectProjectRight 4s;
  animation-fill-mode: forwards;
}

.animation--rect__projects--left {
  animation: displayRectProjectLeft 3s;
  animation-fill-mode: forwards;
}

.animation--circle__projects {
  animation: displayLineHeader 3s;
  animation-fill-mode: forwards;
}

.animation--rect__footer {
  animation: displayRectFooter 4s;
  animation-fill-mode: forwards;
}

@keyframes displayParagraphe {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes displayRectFooter {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes displayRectProjectRight {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 800;
  }
}
@keyframes displayRectProjectLeft {
  0% {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dasharray: 300;
    stroke-dashoffset: 600;
  }
}
@keyframes displayLineHeader {
  0% {
    opacity: 1;
    stroke-dashoffset: 1000;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
.display__line--project {
  animation: displayLineProject 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes displayLineProject {
  0% {
    opacity: 1;
    stroke-dashoffset: -1000;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
@keyframes displayRectHeader {
  0% {
    opacity: 1;
    stroke-dashoffset: 1470;
    stroke-dasharray: 1000;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
    stroke-dasharray: 2110;
  }
}
@keyframes diplayImg {
  0% {
    opacity: 0;
    transform: translateY(20px) translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(-7%) translateX(-12%);
  }
}
@keyframes diplayImgForFone {
  0% {
    opacity: 0;
    transform: translateY(20px) translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(13%) translateX(-13%);
  }
}
@keyframes diplayTopToBottom {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes diplayLeftToRight {
  0% {
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
html {
  scroll-behavior: smooth;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
@media (min-width: 2200px) {
  html {
    font-size: 85%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 599px) {
  html {
    font-size: 35%;
  }
}

body {
  background-color: #fafafa;
  touch-action: manipulation;
  touch-action: pan-y;
}
@media (max-width: 900px) {
  body {
    background-color: #fafafa;
  }
}

h1 {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 8rem;
  line-height: 9.5rem;
  color: #fafafa;
  margin-top: 7rem;
  opacity: 0;
  animation: diplayLeftToRight 1.2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
@media (max-width: 1330px) {
  h1 {
    font-size: 6rem;
  }
}
@media (max-width: 599px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 8rem;
}
@media (max-width: 599px) {
  h2 {
    font-size: 7rem;
  }
}

h3 {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 3.5rem;
}

p {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 5.5rem;
  line-height: 9rem;
}
@media (max-width: 700px) {
  p {
    font-size: 6rem;
  }
}

a {
  text-decoration: none;
}

.link--text {
  transition: background-size 0.6s;
  background: linear-gradient(to top, #fffefe 0%, white 10%, transparent 1%) no-repeat left bottom/0 100%;
}

.link--text:hover {
  background-size: 100% 100%;
}

.link--img {
  transition: opacity 0.5s;
}

.link--img:hover {
  opacity: 0.7;
}

.shadow {
  display: none;
}

header {
  height: 575px;
  width: 100%;
  padding: 2% 5%;
  background-color: black;
}
@media (min-width: 1800px) {
  header {
    height: 775px;
  }
}
@media (max-width: 599px) {
  header {
    height: 313px;
  }
}
header nav {
  width: 100%;
  opacity: 0;
  animation: diplayTopToBottom 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}
header nav ul {
  display: flex;
  color: #fafafa;
}
header nav ul li:first-child {
  width: 61%;
}
header nav ul li:nth-child(2),
header nav ul li:nth-child(3) {
  margin-right: 11%;
}
header nav ul li:nth-child(4) {
  margin-right: 50px;
}
header nav ul li:nth-child(5) {
  position: relative;
}
header nav ul li:nth-child(5)::before {
  content: " ";
  background-color: #fafafa;
  height: 1px;
  position: absolute;
  width: 20px;
  top: 9px;
  right: 35px;
}
@media (max-width: 599px) {
  header nav ul li:nth-child(5)::before {
    top: 5px;
    right: 27px;
  }
}
header nav ul li {
  font-size: 1.8rem;
  font-family: "Gilroy-Medium", sans-serif;
}
@media (min-width: 1800px) {
  header nav ul li {
    font-size: 2.5rem;
  }
}
header img {
  width: 400px;
  position: absolute;
  z-index: 2;
  animation: diplayImg 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 3.7s;
}
@media (min-width: 1800px) {
  header img {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  header img {
    width: 350px;
  }
}
@media (max-width: 700px) {
  header img {
    width: 300px;
  }
}
@media (max-width: 599px) {
  header img {
    animation: diplayImgForFone 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 3.7s;
    width: 180px;
  }
}
@media (max-width: 359px) {
  header img {
    transform: translateY(27%) translateX(-5%) !important;
  }
}
header .header__rect {
  width: 400px;
  height: 538px;
  position: absolute;
  right: 5%;
  top: 340px;
}
header .header__rect .rect--img {
  width: 750px;
  stroke-dasharray: 1000;
  opacity: 0;
  animation: displayRectHeader 6s;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
  transform: translateY(-73px) translateX(-220px);
}
@media (min-width: 1800px) {
  header .header__rect .rect--img {
    display: none;
  }
}
@media (max-width: 1200px) {
  header .header__rect .rect--img {
    width: 650px;
    transform: translateY(-31px) translateX(-172px);
  }
}
@media (max-width: 700px) {
  header .header__rect .rect--img {
    width: 600px;
    transform: translateY(-13px) translateX(-190px);
  }
}
@media (max-width: 599px) {
  header .header__rect .rect--img {
    width: 380px;
    transform: translateY(6px) translateX(-125px);
  }
}
@media (max-width: 359px) {
  header .header__rect .rect--img {
    width: 350px;
    transform: translateY(18px) translateX(-98px);
  }
}
header .header__rect .rect--img--2 {
  display: none;
}
@media (min-width: 1800px) {
  header .header__rect .rect--img--2 {
    display: inline;
    width: 1050px;
    stroke-dasharray: 1000;
    opacity: 0;
    animation: displayRectHeader 5s;
    animation-fill-mode: forwards;
    animation-delay: 4.3s;
    transform: translateY(-121px) translateX(-320px);
  }
}
@media (min-width: 1800px) {
  header .header__rect {
    width: 500px;
    height: 666px;
  }
}
@media (max-width: 1200px) {
  header .header__rect {
    width: 350px;
    height: 466px;
  }
}
@media (max-width: 599px) {
  header .header__rect {
    right: -160px;
    top: 151px;
  }
}
header .line {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 98px;
  right: 30%;
  stroke-dasharray: 1000;
  opacity: 0;
  animation: displayLineHeader 2s;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
}
@media (min-width: 1800px) {
  header .line {
    width: 830px;
    top: 200px;
    right: 29%;
  }
}
@media (max-width: 1033px) {
  header .line {
    display: none;
  }
}
header .circle {
  height: 250px;
  width: 250px;
  position: absolute;
  right: -135px;
  top: 125px;
  stroke-dasharray: 1000;
  opacity: 0;
  animation: displayLineHeader 3s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}
@media (max-width: 599px) {
  header .circle {
    height: 150px;
    top: 65px;
    right: -185px;
  }
}

.rect-black-description {
  width: 1250px;
  position: absolute;
  top: -200px;
  left: -725px;
  opacity: 0;
  stroke-dasharray: 1000;
  animation: displayLineHeader 4s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}
@media (max-width: 900px) {
  .rect-black-description {
    width: 1050px;
  }
}
@media (max-width: 700px) {
  .rect-black-description {
    width: 951px;
  }
}
@media (max-width: 599px) {
  .rect-black-description {
    width: 350px;
    left: -275px;
    top: -200px;
  }
}

.section--description {
  height: 1100px;
  position: relative;
  padding-right: 5%;
  display: flex;
  align-items: center;
}
.section--description .section--description__descritptionP {
  margin-left: 5%;
  opacity: 0;
  animation: displayParagraphe 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}
@media (max-width: 599px) {
  .section--description .section--description__descritptionP {
    margin-bottom: 40%;
    font-size: 28px;
  }
}
.section--description .description__container {
  width: 100vw;
  height: 150px;
  background-color: black;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section--description .description__container .traineeship {
  color: #fafafa;
  margin-left: 0;
  white-space: nowrap;
  font-size: 5rem;
}
@media (max-width: 900px) {
  .section--description .description__container .traineeship {
    font-size: 3.2rem;
  }
}
@media (max-width: 599px) {
  .section--description .description__container .traineeship {
    display: none;
  }
}
@media (max-width: 599px) {
  .section--description .description__container {
    height: 100px;
  }
}
@media (max-width: 599px) {
  .section--description {
    height: 700px;
    align-items: flex-end;
  }
}
@media (max-width: 359px) {
  .section--description {
    height: 775px;
  }
}

.section--skills {
  position: relative;
  padding-bottom: 110px;
}
@media (max-width: 900px) {
  .section--skills {
    padding-bottom: 30px;
  }
}
.section--skills h2 {
  margin: 9% 5%;
}
.section--skills li {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 5.5rem;
  line-height: 9rem;
  position: relative;
  margin-left: 15%;
  margin-bottom: 10px;
}
@media (max-width: 599px) {
  .section--skills li {
    font-size: 5rem;
  }
}
.section--skills li::before {
  content: "";
  width: 15%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: -20%;
}
.section--skills .icons-skills {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
@media (max-width: 1200px) {
  .section--skills .icons-skills {
    height: 230px;
    top: 24%;
    right: 5%;
  }
}
@media (max-width: 700px) {
  .section--skills .icons-skills {
    height: 170px;
    top: 24%;
    right: 0%;
  }
}
@media (max-width: 599px) {
  .section--skills .icons-skills {
    display: none;
  }
}

.section--projects {
  background-color: black;
  position: relative;
  padding: 5%;
  height: 2900px;
  color: #fafafa;
}
@media (max-width: 900px) {
  .section--projects h2 {
    margin-top: 35px;
  }
}
@media (max-width: 900px) {
  .section--projects {
    height: 2700px;
  }
}
@media (max-width: 599px) {
  .section--projects {
    height: 1700px;
  }
}
@media (min-width: 1800px) {
  .section--projects {
    height: 3000px;
  }
}
@media (min-width: 2200px) {
  .section--projects {
    height: 3650px;
  }
}
@media (max-width: 900px) {
  .section--projects a {
    pointer-events: none;
    cursor: default;
  }
}
.section--projects article {
  position: absolute;
}
.section--projects .article--analytics {
  top: 300px;
}
@media (max-width: 599px) {
  .section--projects .article--analytics {
    top: 200px;
  }
}
@media (max-width: 1200px) {
  .section--projects .article--analytics img {
    width: 450px;
  }
}
@media (min-width: 1800px) {
  .section--projects .article--analytics img {
    width: 700px;
  }
}
@media (min-width: 2200px) {
  .section--projects .article--analytics img {
    width: 900px;
  }
}
@media (max-width: 599px) {
  .section--projects .article--analytics img {
    width: 290px;
  }
}
.section--projects .article--integration {
  top: 600px;
  right: 5%;
}
@media (max-width: 1200px) {
  .section--projects .article--integration {
    top: 700px;
  }
}
@media (max-width: 599px) {
  .section--projects .article--integration {
    top: 500px;
  }
}
@media (max-width: 1200px) {
  .section--projects .article--integration img {
    width: 450px;
  }
}
@media (min-width: 1800px) {
  .section--projects .article--integration img {
    width: 700px;
  }
}
@media (min-width: 2200px) {
  .section--projects .article--integration img {
    width: 900px;
  }
}
@media (max-width: 599px) {
  .section--projects .article--integration img {
    width: 290px;
  }
}
.section--projects .article--jeux {
  top: 1100px;
  left: 15%;
}
@media (max-width: 599px) {
  .section--projects .article--jeux {
    top: 800px;
    left: 5%;
  }
}
@media (max-width: 900px) {
  .section--projects .article--jeux {
    left: 10%;
  }
}
@media (max-width: 900px) {
  .section--projects .article--jeux img {
    width: 500px;
  }
}
@media (min-width: 1800px) {
  .section--projects .article--jeux img {
    width: 700px;
  }
}
@media (min-width: 2200px) {
  .section--projects .article--jeux img {
    width: 900px;
  }
}
@media (max-width: 599px) {
  .section--projects .article--jeux img {
    width: 300px;
  }
}
@media (min-width: 2200px) {
  .section--projects .article--jeux {
    top: 1400px;
  }
}
.section--projects .article--prototype {
  top: 1700px;
  right: 15%;
}
@media (max-width: 900px) {
  .section--projects .article--prototype {
    top: 1600px;
    left: 10%;
  }
}
@media (max-width: 599px) {
  .section--projects .article--prototype {
    top: 1100px;
  }
}
@media (max-width: 1200px) {
  .section--projects .article--prototype img {
    width: 700px;
  }
}
@media (max-width: 900px) {
  .section--projects .article--prototype img {
    width: 600px;
  }
}
@media (min-width: 1800px) {
  .section--projects .article--prototype img {
    width: 800px;
  }
}
@media (min-width: 2200px) {
  .section--projects .article--prototype img {
    width: 1000px;
  }
}
@media (max-width: 700px) {
  .section--projects .article--prototype img {
    width: 500px;
  }
}
@media (max-width: 599px) {
  .section--projects .article--prototype img {
    width: 300px;
  }
}
@media (min-width: 2200px) {
  .section--projects .article--prototype {
    top: 2100px;
  }
}
.section--projects .article--gameboy {
  top: 2300px;
  left: 10%;
}
@media (max-width: 900px) {
  .section--projects .article--gameboy {
    top: 2100px;
    left: 5%;
  }
}
@media (max-width: 599px) {
  .section--projects .article--gameboy {
    top: 1400px;
  }
}
.section--projects .article--gameboy img {
  width: 700px;
}
@media (max-width: 1200px) {
  .section--projects .article--gameboy img {
    width: 700px;
  }
}
@media (max-width: 900px) {
  .section--projects .article--gameboy img {
    width: 600px;
  }
}
@media (min-width: 1800px) {
  .section--projects .article--gameboy img {
    width: 800px;
  }
}
@media (min-width: 2200px) {
  .section--projects .article--gameboy img {
    width: 1000px;
  }
}
@media (max-width: 700px) {
  .section--projects .article--gameboy img {
    width: 500px;
  }
}
@media (max-width: 599px) {
  .section--projects .article--gameboy img {
    width: 300px;
  }
}
@media (min-width: 2200px) {
  .section--projects .article--gameboy {
    top: 2800px;
  }
}
.section--projects p {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 1.8rem;
  line-height: 3.5rem;
}
.section--projects .rect-white-project-right {
  position: absolute;
  top: 100px;
  right: -500px;
  transform: rotate(45deg);
  stroke: white;
  height: 500px;
  stroke-dasharray: 800;
}
@media (max-width: 599px) {
  .section--projects .rect-white-project-right {
    top: 0;
    height: 318px;
    right: -449px;
    transform: rotate(70deg);
  }
}
.section--projects .rect-white-project-left {
  position: absolute;
  top: 625px;
  left: -500px;
  transform: rotate(64deg);
  stroke: white;
  height: 460px;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}
@media (max-width: 599px) {
  .section--projects .rect-white-project-left {
    height: 360px;
    top: 570px;
    left: -515px;
  }
}
.section--projects .circle-project-right {
  stroke: white;
  height: 300px;
  position: absolute;
  right: -200px;
  top: 1425px;
  stroke-dasharray: 1000;
  opacity: 0;
}
@media (max-width: 700px) {
  .section--projects .circle-project-right {
    height: 225px;
  }
}
@media (max-width: 599px) {
  .section--projects .circle-project-right {
    height: 125px;
    top: 1015px;
    right: -100px;
  }
}
.section--projects .line-project-left {
  width: 300px;
  position: absolute;
  top: 2095px;
  left: 0;
  transform: rotate(39deg);
  stroke-dasharray: 1770;
  stroke-dashoffset: -1000;
}
@media (min-width: 1800px) {
  .section--projects .line-project-left {
    width: 500px;
    top: 1995px;
  }
}
@media (max-width: 900px) {
  .section--projects .line-project-left {
    top: 1935px;
  }
}
@media (max-width: 599px) {
  .section--projects .line-project-left {
    top: 1289px;
    width: 200px;
    left: -100px;
  }
}
.section--projects .rect-white-project-bottom-right {
  position: absolute;
  top: 2400px;
  right: -500px;
  transform: rotate(60deg);
  stroke: white;
  height: 500px;
  stroke-dasharray: 800;
}
@media (max-width: 599px) {
  .section--projects .rect-white-project-bottom-right {
    top: 1509px;
    height: 318px;
    right: -476px;
    transform: rotate(64deg);
  }
}

.section--music {
  height: 3700px;
  position: relative;
  padding: 5%;
}
@media (max-width: 900px) {
  .section--music {
    height: 1600px;
  }
}
@media (min-width: 1800px) {
  .section--music {
    height: 4300px;
  }
}
@media (min-width: 2200px) {
  .section--music {
    height: 4800px;
  }
}
@media (max-width: 599px) {
  .section--music {
    height: 1200px;
  }
}
.section--music .music--title {
  font-size: 15rem;
  font-family: "Gilroy-Bold";
  width: 100vw;
  position: sticky;
  transform: translateX(-110rem);
}
@media (max-width: 1200px) {
  .section--music .music--title {
    font-size: 12rem;
  }
}
@media (max-width: 900px) {
  .section--music .music--title {
    font-size: 7rem;
    transform: translate(0);
    position: absolute;
    left: 23%;
    top: 37%;
    z-index: 2;
  }
}
@media (max-width: 700px) {
  .section--music .music--title {
    left: 15%;
  }
}
@media (max-width: 599px) {
  .section--music .music--title {
    left: 5%;
  }
}
.section--music .music--title__music {
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.section--music .vynil--container {
  width: 600px;
  height: 2500px;
  position: absolute;
  top: 131px;
  left: -300px;
}
@media (max-width: 900px) {
  .section--music .vynil--container {
    height: 500px;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 30px;
  }
}
@media (min-width: 1800px) {
  .section--music .vynil--container {
    width: 700px;
    height: 2800px;
  }
}
@media (min-width: 2200px) {
  .section--music .vynil--container {
    width: 800px;
    height: 2600px;
  }
}
.section--music .vynil--container .vynil--container__vynil {
  width: 100%;
  position: sticky;
  z-index: 1;
}
@media (max-width: 900px) {
  .section--music .vynil--container .vynil--container__vynil {
    width: 432px;
    position: absolute;
    left: -32%;
  }
}
@media (max-width: 599px) {
  .section--music .vynil--container .vynil--container__vynil {
    width: 270px;
    left: -155px;
    top: 66px;
  }
}
.section--music p {
  position: absolute;
  bottom: 5%;
  margin-right: 5%;
}
@media (max-width: 599px) {
  .section--music p {
    font-size: 5rem;
  }
}

.fader--container {
  height: 1030px;
  width: 3%;
  position: absolute;
  bottom: 3%;
  right: 1%;
}
.fader--container .fader--container__line {
  width: 1px;
  height: 100%;
  background-color: black;
  position: absolute;
  left: calc(50% - 1px);
  top: -1%;
}
.fader--container .fader--container__fader {
  width: 100%;
  height: 75px;
  border: 1px solid black;
  position: sticky;
  top: 0;
  z-index: 2;
}

footer {
  height: 70vh;
  background-color: black;
  color: #fafafa;
  padding: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 900px) {
  footer {
    height: 60vh;
  }
}
@media (max-width: 599px) {
  footer {
    padding: 10% 5%;
    height: 60vh;
  }
}
footer h2 {
  margin-bottom: 20px;
}
footer a {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 5.5rem;
  line-height: 9rem;
  font-size: 5rem;
  margin-right: 100px;
}
@media (max-width: 700px) {
  footer a {
    font-size: 3.8rem;
  }
}
footer .rect-white-footer-right {
  position: absolute;
  top: 16%;
  right: -400px;
  transform: rotate(146deg);
  stroke: white;
  height: 280px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
@media (max-width: 700px) {
  footer .rect-white-footer-right {
    display: none;
  }
}

/* The Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #000000;
  animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #000000;
  animation: spin-reverse 0.6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #000000;
  animation: spin 1s linear infinite;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #fafafa;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

/*# sourceMappingURL=style.css.map */
