html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements */
*,
*::before,
*::after,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* inputs */
input,
button,
textarea,
select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em;
}

/* inputs appearance (not for every input)  */
input[type=text],
input[type=reset],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
input[type=time],
input[type=week],
input[type=month],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=number],
input[type=submit],
input[type=reset],
input[type=color],
input[type=file],
button,
textarea {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* input color width */
input[type=color] {
  width: 1em;
}

/* IE clear cross */
input::-ms-clear {
  display: none;
}

/* details and summary */
details,
summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* text size adjusting */
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* mark */
mark {
  background: none;
}

/* Font smoothing */
*,
*::before,
*::after,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* hr */
hr {
  height: 1px;
  margin: 0;
  padding: 0;
}

/* u */
u {
  text-decoration: none;
}

/* th */
table th {
  text-align: left;
}

/* a */
a {
  color: inherit;
  outline: none;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../../fonts/Gilroy-Light.ttf") format("TrueType");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../../fonts/Gilroy-Medium.ttf") format("TrueType");
}
.reveal {
  transform: -50px;
  opacity: 0;
  transition: 0.4s;
}

.reveal-visible {
  transform: 0;
  opacity: 1;
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
@media (min-width: 2200px) {
  html {
    font-size: 85%;
  }
}

body {
  overflow-x: hidden;
  background-color: #FAFAFA;
}

h1 {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 8rem;
  line-height: 9.5rem;
  color: #FAFAFA;
  margin-top: 8rem;
}
@media (max-width: 1330px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 7rem;
}

h3 {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 5rem;
}

p {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 7rem;
  line-height: 9rem;
}

a {
  text-decoration: none;
}

header {
  height: 575px;
  width: 100%;
  padding: 2% 5%;
  background-color: black;
}
@media (min-width: 1800px) {
  header {
    height: 775px;
  }
}
header nav {
  width: 100%;
}
header nav ul {
  display: flex;
  color: #FAFAFA;
}
header nav ul li:first-child {
  width: 61%;
}
header nav ul li:nth-child(2),
header nav ul li:nth-child(3) {
  margin-right: 11%;
}
header nav ul li:nth-child(4) {
  margin-right: 50px;
}
header nav ul li:nth-child(5) {
  position: relative;
}
header nav ul li:nth-child(5)::before {
  content: " ";
  background-color: #FAFAFA;
  height: 1px;
  position: absolute;
  width: 20px;
  top: 9px;
  right: 35px;
}
header nav ul li {
  font-size: 1.8rem;
  font-family: "Gilroy-Medium", sans-serif;
}
header img {
  width: 400px;
  position: absolute;
  z-index: 2;
  transform: translateY(-7%) translateX(-12%);
}
@media (min-width: 1800px) {
  header img {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  header img {
    width: 350px;
  }
}
header .header__rect {
  width: 400px;
  height: 538px;
  border: 2px solid #FAFAFA;
  position: absolute;
  right: 5%;
  top: 340px;
}
header .header__rect .header__rect--black {
  width: 100.5%;
  height: 303px;
  border: 2px solid black;
  position: absolute;
  bottom: 0;
}
@media (min-width: 1800px) {
  header .header__rect .header__rect--black {
    height: 231px;
  }
}
@media (max-width: 1200px) {
  header .header__rect .header__rect--black {
    height: 231px;
  }
}
@media (min-width: 1800px) {
  header .header__rect {
    width: 500px;
    height: 666px;
  }
}
@media (max-width: 1200px) {
  header .header__rect {
    width: 350px;
    height: 466px;
  }
}
header .header__line {
  width: 630px;
  height: 2px;
  position: absolute;
  right: 25%;
  top: 350px;
  background-color: #FAFAFA;
  transform: rotate(-30deg);
  stroke-dasharray: 630;
  stroke-dashoffset: 20;
}
@media (min-width: 1800px) {
  header .header__line {
    width: 830px;
    top: 410px;
    right: 27%;
  }
}
@media (max-width: 900px) {
  header .header__line {
    display: none;
  }
}
header .header__circle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px solid #FAFAFA;
  position: absolute;
  right: -135px;
  top: 125px;
}

.description___rect {
  width: 250px;
  height: 250px;
  border: 2px solid black;
  position: absolute;
  top: 0;
  left: -150px;
  transform: rotate(45deg);
}

.section--description {
  height: 1300px;
  position: relative;
  padding-right: 5%;
  display: flex;
  align-items: center;
}
.section--description p {
  margin-left: 5%;
  margin-top: 20%;
}
.section--description .description__container {
  width: 100vw;
  height: 150px;
  background-color: black;
  position: absolute;
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
