.reveal {
    transform: -50px;
    opacity: 0;
    transition: .7s;
}

.reveal-visible {
    transform: 0;
    opacity: 1;
}





@keyframes displayLineHeader {
    0% {
        opacity: 1;
        stroke-dashoffset: 1000;
    }

    100% {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}


@keyframes displayRectHeader {
    0% {
        opacity: 1;
        stroke-dashoffset: 1470;
        stroke-dasharray: 1000;
    }

    100% {
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-dasharray: 2110;
    }
}



@keyframes diplayImg {
    0% {
        opacity: 0;
        transform: translateY(20px) translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(-7%) translateX(-12%);
    }
}



@keyframes diplayTopToBottom {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes diplayLeftToRight {
    0% {
        transform: translateX(-40px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}