.animation--rect__projects--right {
    animation: displayRectProjectRight 4s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.animation--rect__projects--left {
    animation: displayRectProjectLeft 3s;
    animation-fill-mode: forwards;
}

.animation--circle__projects {
    animation: displayLineHeader 3s;
    animation-fill-mode: forwards;
}

.animation--rect__footer {
    animation: displayRectFooter 4s;
    animation-fill-mode: forwards;
}

@keyframes displayParagraphe {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes displayRectFooter {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes displayRectProjectRight {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 800;
    }
}

@keyframes displayRectProjectLeft {
    0% {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
    }

    100% {
        stroke-dasharray: 300;
        stroke-dashoffset: 600;
    }
}




@keyframes displayLineHeader {
    0% {
        opacity: 1;
        stroke-dashoffset: 1000;
    }

    100% {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}


@keyframes displayRectHeader {
    0% {
        opacity: 1;
        stroke-dashoffset: 1470;
        stroke-dasharray: 1000;
    }

    100% {
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-dasharray: 2110;
    }
}



@keyframes diplayImg {
    0% {
        opacity: 0;
        transform: translateY(20px) translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(-7%) translateX(-12%);
    }
}

@keyframes diplayImgForFone {
    0% {
        opacity: 0;
        transform: translateY(20px) translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(13%) translateX(-13%);
    }
}





@keyframes diplayTopToBottom {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes diplayLeftToRight {
    0% {
        transform: translateX(-40px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes spin-reverse {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(-360deg)
    }
}