// **********************************     Variables  &  fonts   ************************************

@font-face {
    font-family: "Gilroy-Light";
    src: url("../../fonts/Gilroy-Light.ttf") format("TrueType");
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../../fonts/Gilroy-Medium.ttf") format("TrueType");
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../../fonts/Gilroy-Bold.ttf") format("TrueType");
}

$white :rgb(250, 250, 250);




// **********************************     Mixins     ************************************


@mixin bigTitle {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 8rem;
    line-height: 9.5rem;

    @media (max-width: 1330px) {
        font-size: 6rem;
    }
}

@mixin h2Title {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 8rem;
}

@mixin h3Title {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 3.5rem;
}

@mixin paragraphe {
    font-family: "Gilroy-Light", sans-serif;
    font-size: 7rem;
    line-height: 9rem;
}

@mixin descriptionProjects {
    font-family: "Gilroy-Light", sans-serif;
    font-size: 1.8rem;
    line-height: 3.5rem;
}

// **********************************       Mixins responsive      ************************************

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-down {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-down {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin for-desktop-down {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

@mixin for-big-desktop-up-27 {
    @media (min-width: 2200px) {
        @content;
    }
}