@import "./_reset";
@import "./_mixins";
@import "./_animations";

html {
    scroll-behavior: smooth;

    @include for-tablet-landscape-down {
        font-size: 55%;
    }

    @include for-big-desktop-up {
        font-size: 75%;
    }

    @include for-big-desktop-up-27 {
        font-size: 85%;
    }

    @include for-tablet {
        font-size: 50%;
    }

    @include for-phone-only {
        font-size: 35%;
    }
}



.link--text {
    transition: background-size .6s;
    background: linear-gradient(to top, rgba(255, 254, 254) 0%, rgba(255, 255, 255) 10%, transparent 1%) no-repeat left bottom / 0 100%;
}

.link--text:hover {
    background-size: 100% 100%;
}

.link--img {
    transition: opacity .4s;
}

.link--img:hover {
    opacity: 0.6;
}


body {
    background-color: $white;
    touch-action: manipulation;
    touch-action: pan-y;

    @include for-tablet-landscape-down {
        background-color: $white;
    }
}

h1 {
    @include bigTitle;
    color: $white;
    margin-top: 8rem;
    opacity: 0;
    animation: diplayLeftToRight 1.2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;

    @include for-phone-only {
        font-size: 5rem;
    }
}

h2 {
    @include h2Title
}

h3 {
    @include h3Title
}

p {
    @include paragraphe;

    @include for-tablet {
        font-size: 6;
    }
}

a {
    text-decoration: none;
}

// **********************************     Header    ************************************

header {
    height: 575px;
    width: 100%;
    padding: 2% 5%;
    background-color: black;

    @include for-big-desktop-up {
        height: 775px;
    }

    @include for-phone-only {
        height: 313px;
    }

    nav {
        width: 100%;
        opacity: 0;
        animation: diplayTopToBottom 1s;
        animation-fill-mode: forwards;
        animation-delay: 2.5s;

        ul {
            display: flex;
            color: $white;

            li:first-child {
                width: 61%;
            }

            li:nth-child(2),
            li:nth-child(3) {
                margin-right: 11%;
            }

            li:nth-child(4) {
                margin-right: 50px;
            }

            li:nth-child(5) {
                position: relative;
            }

            li:nth-child(5)::before {
                content: " ";
                background-color: $white;
                height: 1px;
                position: absolute;
                width: 20px;
                top: 9px;
                right: 35px;

                @include for-phone-only {
                    top: 5px;
                    right: 27px;
                }
            }

            li {
                font-size: 1.8rem;
                font-family: "Gilroy-Medium", sans-serif;
            }
        }
    }

    img {
        width: 400px;
        position: absolute;
        z-index: 2;
        animation: diplayImg 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        animation-delay: 3.7s;

        @include for-big-desktop-up {
            width: 500px;
        }

        @include for-desktop-down {
            width: 350px;
        }

        @include for-tablet {
            width: 300px;
        }

        @include for-phone-only {
            animation: diplayImgForFone 1s;
            animation-fill-mode: forwards;
            opacity: 0;
            animation-delay: 3.7s;
            width: 180px;
        }
    }

    .header__rect {
        width: 400px;
        height: 538px;
        position: absolute;
        right: 5%;
        top: 340px;

        .rect--img {
            width: 400px;
            stroke-dasharray: 1000;
            opacity: 0;
            animation: displayRectHeader 3s;
            animation-fill-mode: forwards;
            animation-delay: 3.9s;
            transform: translateY(-10px);

            @include for-big-desktop-up {
                width: 500px;
            }

            @include for-desktop-down {
                width: 350px;
                transform: translateY(22px);
            }

            @include for-tablet {
                width: 300px;
                transform: translateY(53px);
            }

            @include for-phone-only {
                width: 180px;
            }

        }


        @include for-big-desktop-up {
            width: 500px;
            height: 666px;
        }

        @include for-desktop-down {
            width: 350px;
            height: 466px;
        }

        @include for-phone-only {
            right: -44%;
            top: 151px;
        }
    }

    .line {
        width: 500px;
        height: 500px;
        position: absolute;
        top: 98px;
        right: 30%;
        stroke-dasharray: 1000;
        opacity: 0;
        animation: displayLineHeader 2s;
        animation-fill-mode: forwards;
        animation-delay: 3.5s;

        @include for-big-desktop-up {
            width: 830px;
            top: 200px;
            right: 29%;
        }

        @include for-tablet-landscape-down {
            display: none;
        }
    }

    .circle {
        height: 250px;
        width: 250px;
        position: absolute;
        right: -135px;
        top: 125px;
        stroke-dasharray: 1000;
        opacity: 0;
        animation: displayLineHeader 3s;
        animation-fill-mode: forwards;
        animation-delay: 4s;

        @include for-phone-only {
            height: 150px;
            top: 65px;
            right: -160px;
        }
    }
}



// **********************************     Main     ************************************



// **********************************     section  description   ************************************



.rect-black-description {
    width: 1250px;
    position: absolute;
    top: -200px;
    left: -725px;
    opacity: 0;
    stroke-dasharray: 1000;
    animation: displayLineHeader 4s;
    animation-fill-mode: forwards;
    animation-delay: 5s;

    @include for-tablet-landscape-down {
        width: 1050px;
    }

    @include for-tablet {
        width: 951px;
    }

    @include for-phone-only {
        width: 350px;
        left: -275px;
        top: -265px;
    }
}


.section--description {
    height: 1100px;
    position: relative;
    padding-right: 5%;
    display: flex;
    align-items: center;

    .section--description__descritptionP {
        margin-left: 5%;
        opacity: 0;
        animation: displayParagraphe 1.5s;
        animation-fill-mode: forwards;
        animation-delay: 6s;
    }

    .description__container {
        width: 100vw;
        height: 150px;
        background-color: black;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .traineeship {
            color: $white;
            margin-left: 0;
            white-space: nowrap;

            @include for-tablet-landscape-down {
                font-size: 3.2rem;
            }

            @include for-phone-only {
                display: none;
            }
        }

        @include for-phone-only {
            height: 100px;
        }
    }

    @include for-phone-only {
        height: 800px;
    }
}


// **********************************     section  skills   ************************************

.section--skills {
    position: relative;
    padding-bottom: 110px;

    @include for-tablet-landscape-down {
        padding-bottom: 55px;
    }


    h2 {
        margin: 9% 5%;
    }


    li {
        @include paragraphe;
        position: relative;
        margin-left: 15%;
        margin-bottom: 10px;
        font-size: 6rem;

        &::before {
            content: "";
            width: 15%;
            height: 2px;
            background-color: black;
            position: absolute;
            top: 50%;
            left: -20%;
        }
    }

    .icons-skills {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);

        @include for-desktop-down {
            height: 230px;
            top: 24%;
            right: 5%;
        }

        @include for-tablet {
            height: 170px;
            top: 24%;
            right: 0%;
        }

        @include for-phone-only {
            display: none;
        }






    }
}



// **********************************     section  projects   ************************************


.section--projects {
    background-color: black;
    position: relative;
    padding: 5%;
    height: 2400px;
    color: $white;

    h2 {
        @include for-tablet-landscape-down {
            margin-top: 55px;
        }
    }

    @include for-phone-only {
        height: 1400px;
    }


    @include for-big-desktop-up {
        height: 2500px;
    }

    @include for-big-desktop-up-27 {
        height: 3000px;
    }

    article {
        position: absolute;
    }

    .article--analytics {
        top: 300px;

        @include for-phone-only {
            top: 200px;
        }



        img {
            @include for-desktop-down {
                width: 450px;
            }

            @include for-big-desktop-up {
                width: 700px;
            }

            @include for-big-desktop-up-27 {
                width: 900px;
            }

            @include for-phone-only {
                width: 290px;
            }
        }

    }

    .article--integration {
        top: 600px;
        right: 5%;

        @include for-desktop-down {
            top: 700px;
        }

        @include for-phone-only {
            top: 500px;
        }

        img {
            @include for-desktop-down {
                width: 450px;
            }

            @include for-big-desktop-up {
                width: 700px;
            }

            @include for-big-desktop-up-27 {
                width: 900px;
            }

            @include for-phone-only {
                width: 290px;
            }
        }
    }

    .article--jeux {
        top: 1100px;
        left: 15%;

        @include for-phone-only {
            top: 800px;
            left: 5%;
        }

        @include for-tablet-landscape-down {
            left: 10%;
        }

        img {
            @include for-tablet-landscape-down {
                width: 500px;
            }

            @include for-big-desktop-up {
                width: 700px;
            }

            @include for-big-desktop-up-27 {
                width: 900px;
            }

            @include for-phone-only {
                width: 300px;
            }
        }

        @include for-big-desktop-up-27 {
            top: 1400px;
        }
    }

    .article--prototype {
        top: 1700px;
        right: 15%;


        @include for-tablet-landscape-down {
            top: 1600px;
            left: 10%;
        }

        @include for-phone-only {
            top: 1100px;
        }

        img {
            @include for-desktop-down {
                width: 700px;
            }

            @include for-tablet-landscape-down {
                width: 600px;
            }

            @include for-big-desktop-up {
                width: 800px;
            }

            @include for-big-desktop-up-27 {
                width: 1000px;
            }

            @include for-tablet {
                width: 500px;
            }

            @include for-phone-only {
                width: 300px;
            }
        }

        @include for-big-desktop-up-27 {
            top: 2100px;
        }
    }

    p {
        @include descriptionProjects
    }


    // design draw

    .rect-white-project-right {
        position: absolute;
        top: 10%;
        right: -500px;
        transform: rotate(45deg);
        stroke: white;
        height: 500px;
        stroke-dasharray: 800;

        @include for-phone-only {
            top: -2%;
            height: 318px;
        }
    }

    .rect-white-project-left {
        position: absolute;
        top: 30%;
        left: -500px;
        transform: rotate(64deg);
        stroke: white;
        height: 460px;
        stroke-dasharray: 300;
        stroke-dashoffset: 300;

        @include for-phone-only {
            height: 360px;
            top: 40%;
            left: -515px;
        }
    }

    .circle-project-right {
        stroke: white;
        height: 300px;
        position: absolute;
        right: -200px;
        top: 50%;

        stroke-dasharray: 1000;
        opacity: 0;

        @include for-tablet {
            height: 225px
        }

        @include for-phone-only {
            height: 125px;
            top: 73%;
            right: -100px;
        }
    }
}













// **********************************     section  musics   ************************************

.section--music {
    height: 3700px;
    position: relative;
    padding: 5%;



    @include for-tablet-landscape-down {
        height: 2000px;
    }

    @include for-big-desktop-up {
        height: 4300px;
    }

    @include for-big-desktop-up-27 {
        height: 4800px;
    }

    @include for-phone-only {
        height: 1600px;
    }

    .music--title {
        font-size: 15rem;
        font-family: "Gilroy-Bold";
        width: 100vw;
        position: sticky;
        transform: translateX(-110rem);

        @include for-desktop-down {
            font-size: 12rem;
        }

        @include for-tablet-landscape-down {
            font-size: 7rem;
            transform: translate(0);
            position: absolute;
            left: 23%;
            top: 37%;
            z-index: 2;
        }

        @include for-tablet-landscape-down {
            left: 10%;
        }
    }

    .music--title__music {
        color: white;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }


    .vynil--container {
        width: 600px;
        height: 2500px;
        position: absolute;
        top: 131px;
        left: -300px;
        // background-color: red;

        @include for-tablet-landscape-down {
            height: 500px;
            left: 0;
            top: 0;
            width: 100%;
            margin-top: 30px;
        }

        @include for-big-desktop-up {
            width: 700px;
            height: 2800px;
        }

        @include for-big-desktop-up-27 {
            width: 800px;
            height: 2600px;
        }

        .vynil--container__vynil {
            width: 100%;
            position: sticky;
            z-index: 1;


            @include for-tablet-landscape-down {
                width: 432px;
                position: absolute;
                left: -32%;
            }

            @include for-phone-only {
                width: 300px;
                left: -41%;
                top: 53px;
            }
        }

    }

    p {
        position: absolute;
        bottom: 5%;
        margin-right: 5%;
    }

}


.fader--container {
    height: 1030px;
    width: 3%;
    // background-color: red;
    position: absolute;
    bottom: 3%;
    right: 1%;

    .fader--container__line {
        width: 1px;
        height: 100%;
        background-color: black;
        position: absolute;
        left: calc(50% - 1px);
        top: -1%;
    }

    .fader--container__fader {
        width: 100%;
        height: 75px;
        border: 1px solid black;
        position: sticky;
        top: 0;
        z-index: 2;
    }
}




// **********************************     footer   ************************************

footer {
    height: 70vh;
    background-color: black;
    color: $white;
    padding: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include for-tablet-landscape-down {
        height: 60vh;
    }

    @include for-phone-only {
        height: 45vh;
    }

    h2 {
        margin-bottom: 20px;
    }

    a {
        @include paragraphe;
        font-size: 5rem;
        margin-right: 100px;

        @include for-tablet {
            font-size: 3.8rem;
        }
    }

    .rect-white-footer-right {
        position: absolute;
        top: 16%;
        right: -400px;
        transform: rotate(146deg);
        stroke: white;
        height: 280px;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;

        @include for-tablet {
            display: none;
        }
    }
}


/* The Loader */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    // Modernizr no-js fallback
    .no-js & {
        display: none;
    }
}


#loader {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #000000;
    animation: spin 1.7s linear infinite;
    z-index: 11;

    &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 2px solid transparent;
        border-top-color: #000000;
        animation: spin-reverse .6s linear infinite;
    }

    &:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 2px solid transparent;
        border-top-color: #000000;
        animation: spin 1s linear infinite;
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: rgb(250, 250, 250);
    z-index: 10;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}