@import "./_reset";
@import "./_mixins";
@import "./_animations";

html {
    @include for-tablet-landscape-down {
        font-size: 55%;
    }

    @include for-big-desktop-up {
        font-size: 75%;
    }

    @include for-big-desktop-up-27 {
        font-size: 85%;
    }
}



body {
    overflow-x: hidden;
    background-color: $white;
}

h1 {
    @include bigTitle;
    color: $white;
    margin-top: 8rem;
    opacity: 0;
    animation: diplayLeftToRight 1.2s;
    animation-fill-mode: forwards;
    animation-delay: .4s;
}

h2 {
    @include h2Title
}

h3 {
    @include h3Title
}

p {
    @include paragraphe
}

a {
    text-decoration: none;
}

// **********************************     Header    ************************************

header {
    height: 575px;
    width: 100%;
    padding: 2% 5%;
    background-color: black;

    @include for-big-desktop-up {
        height: 775px;
    }

    nav {
        width: 100%;
        animation: diplayTopToBottom 1s;
        animation-fill-mode: forwards;

        ul {
            display: flex;
            color: $white;

            li:first-child {
                width: 61%;
            }

            li:nth-child(2),
            li:nth-child(3) {
                margin-right: 11%;
            }

            li:nth-child(4) {
                margin-right: 50px;
            }

            li:nth-child(5) {
                position: relative;
            }

            li:nth-child(5)::before {
                content: " ";
                background-color: $white;
                height: 1px;
                position: absolute;
                width: 20px;
                top: 9px;
                right: 35px;
            }

            li {
                font-size: 1.8rem;
                font-family: "Gilroy-Medium", sans-serif;
            }
        }
    }

    img {
        width: 400px;
        position: absolute;
        z-index: 2;
        animation: diplayImg 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        animation-delay: 1.1s;

        @include for-big-desktop-up {
            width: 500px;
        }

        @include for-desktop-down {
            width: 350px;
        }
    }

    .header__rect {
        width: 400px;
        height: 538px;
        position: absolute;
        right: 5%;
        top: 340px;

        .rect--img {
            width: 400px;
            stroke-dasharray: 1000;
            opacity: 0;
            animation: displayRectHeader 3s;
            animation-fill-mode: forwards;
            animation-delay: 1.3s;
            transform: translateY(-10px);

            @include for-big-desktop-up {
                width: 500px;
            }

            @include for-desktop-down {
                width: 350px;
                transform: translateY(22px);
            }
        }


        @include for-big-desktop-up {
            width: 500px;
            height: 666px;
        }

        @include for-desktop-down {
            width: 350px;
            height: 466px;
        }

    }

    .line {
        width: 500px;
        height: 500px;
        position: absolute;
        top: 98px;
        right: 30%;
        stroke-dasharray: 1000;
        opacity: 0;
        animation: displayLineHeader 2s;
        animation-fill-mode: forwards;
        animation-delay: .7s;

        @include for-big-desktop-up {
            width: 830px;
            top: 200px;
            right: 29%;
        }

        @include for-tablet-landscape-down {
            display: none;
        }
    }

    .circle {
        height: 250px;
        width: 250px;
        position: absolute;
        right: -135px;
        top: 125px;
        stroke-dasharray: 1000;
        opacity: 0;
        animation: displayLineHeader 3s;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
    }
}



// **********************************     Main     ************************************



// **********************************     section  description   ************************************



.rect-black-description {
    width: 1250px;
    position: absolute;
    top: -200px;
    left: -725px;
    opacity: 0;
    stroke-dasharray: 1000;
    animation: displayLineHeader 4s;
    animation-fill-mode: forwards;
    animation-delay: 2.3s;
}


.section--description {
    height: 1300px;
    position: relative;
    padding-right: 5%;
    display: flex;
    align-items: center;

    p {
        margin-left: 5%;
        margin-top: 20%;
    }

    .description__container {
        width: 100vw;
        height: 150px;
        background-color: black;
        position: absolute;
        bottom: 0;
    }
}