@import "./_reset";
@import "./_mixins";
@import "./_animations";

html {
    @include for-tablet-landscape-down {
        font-size: 55%;
    }

    @include for-big-desktop-up {
        font-size: 75%;
    }

    @include for-big-desktop-up-27 {
        font-size: 85%;
    }
}



body {
    overflow-x: hidden;
    background-color: $white;
}

h1 {
    @include bigTitle;
    color: $white;
    margin-top: 8rem;
    opacity: 0;
    animation: diplayLeftToRight 1.2s;
    animation-fill-mode: forwards;
    animation-delay: .4s;
}

h2 {
    @include h2Title
}

h3 {
    @include h3Title
}

p {
    @include paragraphe
}

a {
    text-decoration: none;
}

// **********************************     Header    ************************************

header {
    height: 575px;
    width: 100%;
    padding: 2% 5%;
    background-color: black;

    @include for-big-desktop-up {
        height: 775px;
    }

    nav {
        width: 100%;
        animation: diplayTopToBottom 1s;
        animation-fill-mode: forwards;

        ul {
            display: flex;
            color: $white;

            li:first-child {
                width: 61%;
            }

            li:nth-child(2),
            li:nth-child(3) {
                margin-right: 11%;
            }

            li:nth-child(4) {
                margin-right: 50px;
            }

            li:nth-child(5) {
                position: relative;
            }

            li:nth-child(5)::before {
                content: " ";
                background-color: $white;
                height: 1px;
                position: absolute;
                width: 20px;
                top: 9px;
                right: 35px;
            }

            li {
                font-size: 1.8rem;
                font-family: "Gilroy-Medium", sans-serif;
            }
        }
    }

    img {
        width: 400px;
        position: absolute;
        z-index: 2;
        animation: diplayImg 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        animation-delay: 1.1s;

        @include for-big-desktop-up {
            width: 500px;
        }

        @include for-desktop-down {
            width: 350px;
        }
    }

    .header__rect {
        width: 400px;
        height: 538px;
        position: absolute;
        right: 5%;
        top: 340px;

        .rect--img {
            width: 400px;
            stroke-dasharray: 1000;
            opacity: 0;
            animation: displayRectHeader 3s;
            animation-fill-mode: forwards;
            animation-delay: 1.3s;
            transform: translateY(-10px);

            @include for-big-desktop-up {
                width: 500px;
            }

            @include for-desktop-down {
                width: 350px;
                transform: translateY(22px);
            }
        }


        @include for-big-desktop-up {
            width: 500px;
            height: 666px;
        }

        @include for-desktop-down {
            width: 350px;
            height: 466px;
        }

    }

    .line {
        width: 500px;
        height: 500px;
        position: absolute;
        top: 98px;
        right: 30%;
        stroke-dasharray: 1000;
        opacity: 0;
        animation: displayLineHeader 2s;
        animation-fill-mode: forwards;
        animation-delay: .7s;

        @include for-big-desktop-up {
            width: 830px;
            top: 200px;
            right: 29%;
        }

        @include for-tablet-landscape-down {
            display: none;
        }
    }

    .circle {
        height: 250px;
        width: 250px;
        position: absolute;
        right: -135px;
        top: 125px;
        stroke-dasharray: 1000;
        opacity: 0;
        animation: displayLineHeader 3s;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
    }
}



// **********************************     Main     ************************************



// **********************************     section  description   ************************************



.rect-black-description {
    width: 1250px;
    position: absolute;
    top: -200px;
    left: -725px;
    opacity: 0;
    stroke-dasharray: 1000;
    animation: displayLineHeader 4s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}


.section--description {
    height: 1300px;
    position: relative;
    padding-right: 5%;
    display: flex;
    align-items: center;

    p {
        margin-left: 5%;
        margin-top: 20%;
    }

    .description__container {
        width: 100vw;
        height: 150px;
        background-color: black;
        position: absolute;
        bottom: 0;
    }
}


// **********************************     section  skills   ************************************

.section--skills {
    position: relative;
    padding-bottom: 110px;


    h2 {
        margin: 9% 5%;
    }


    li {
        @include paragraphe;
        position: relative;
        margin-left: 15%;
        margin-bottom: 10px;
        font-size: 6rem;

        &::before {
            content: "";
            width: 15%;
            height: 2px;
            background-color: black;
            position: absolute;
            top: 50%;
            left: -20%;
        }
    }

    .icons-skills {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);

        @include for-desktop-down {
            height: 230px;
            top: 24%;
            right: 5%;
        }
    }
}



// **********************************     section  projects   ************************************


.section--projects {
    // background-color: rgb(138, 69, 69);
    position: relative;
    padding: 5%;
    height: 2400px;
    // color: $white;
    color: $white;

    @include for-big-desktop-up {
        height: 2500px;
    }

    @include for-big-desktop-up-27 {
        height: 3000px;
    }

    article {
        position: absolute;
    }

    .article--analytics {
        top: 300px;

        img {
            @include for-big-desktop-up {
                width: 700px;
            }

            @include for-big-desktop-up-27 {
                width: 900px;
            }
        }

    }

    .article--integration {
        top: 600px;
        right: 5%;

        img {
            @include for-big-desktop-up {
                width: 700px;
            }

            @include for-big-desktop-up-27 {
                width: 900px;
            }
        }
    }

    .article--jeux {
        top: 1100px;
        left: 15%;

        img {
            @include for-big-desktop-up {
                width: 700px;
            }

            @include for-big-desktop-up-27 {
                width: 900px;
            }
        }

        @include for-big-desktop-up-27 {
            top: 1400px;
        }
    }

    .article--prototype {
        top: 1700px;
        right: 15%;

        img {
            @include for-big-desktop-up {
                width: 800px;
            }

            @include for-big-desktop-up-27 {
                width: 1000px;
            }
        }

        @include for-big-desktop-up-27 {
            top: 2100px;
        }
    }

    p {
        @include descriptionProjects
    }


    // design draw

    .rect-white-project-right {
        position: absolute;
        top: 10%;
        right: -500px;
        transform: rotate(45deg);
        stroke: white;
        height: 500px;
    }

    .rect-white-project-left {
        position: absolute;
        top: 30%;
        left: -500px;
        transform: rotate(64deg);
        stroke: white;
        height: 460px;
    }

    .circle-project-right {
        stroke: white;
        height: 300px;
        position: absolute;
        right: -200px;
        top: 50%;
    }





}













// **********************************     section  musics   ************************************

.section--music {
    height: 4000px;
    position: relative;
    padding: 5%;

    @include for-big-desktop-up {
        height: 4300px;
    }

    @include for-big-desktop-up-27 {
        height: 4800px;
    }

    .music--title {
        font-size: 15rem;
        font-family: "Gilroy-Bold";
        width: 100vw;
        position: sticky;
        transform: translateX(-110rem);

        @include for-desktop-down {
            font-size: 12rem;
        }

        @include for-tablet-landscape-down {
            font-size: 10rem;
        }
    }

    .music--title__music {
        color: white;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }


    .vynil--container {
        width: 600px;
        background-color: rebeccapurple;
        height: 2500px;
        position: absolute;
        top: 131px;
        left: -300px;

        @include for-big-desktop-up {
            width: 700px;
            height: 2800px;
        }

        @include for-big-desktop-up-27 {
            width: 800px;
            height: 2600px;
        }

        .vynil--container__vynil {
            width: 100%;
            position: sticky;
            z-index: 1;
        }
    }

    p {
        position: absolute;
        bottom: 5%;
        margin-right: 5%;
    }


}

// width: 720px;
//     position: absolute;




// **********************************     footer   ************************************

footer {
    height: 80vh;
    background-color: black;
    color: $white;
    padding: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // @include for-big-desktop-up {
    //     padding: 5%;
    // }

    h2 {
        margin-bottom: 20px;
    }

    a {
        @include paragraphe;
        font-size: 5rem;
        margin-right: 100px;
    }



}